body, h1, h2, p, ul, li, a{
	margin: 0px;
	padding: 0px;
}

body{
	font-family: Halvetica, Arial, sans-serif;
	background: #E0D7C6;
}

ul{
	list-style: none;
}

a{
	text-decoration: none;
}

img{
	display: block;
	max-width: 100%;
}

*{
	box-sizing: border-box;
}

.header-bg{
	background: url(../img/mesa.jpg) no-repeat;
	background-size: cover;
}

.header-info{
	display: flex;
	max-width: 960px;
	margin: 0 auto;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.menu-logo{
	padding-top: 20px;
}

.menu-nav a{
	font-size: 1em;
	color: white;
	text-transform: uppercase;
	margin-left: 30px;
}

.menu-nav a:hover{
	color: #ac8949;
}

.menu-nav ul{
	display: flex;
	flex-wrap: wrap;
}

.content{
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
	padding: 100px 0 100px 0;
	color: white;
}

.content h1{
	font-size: 3em;
	text-transform: uppercase;
	margin-bottom: 40px;
	flex-wrap: wrap;
}

.content p{
	font-size: 1em;
	flex-wrap: wrap;
	margin-bottom: 40px;
	line-height: 1.4;
}

.content button{
	font-size: 1em;
	font-family: arial;
	cursor: pointer;
	border: 2px solid #ac8949;
	background: transparent;
	padding: 20px 50px;
	margin-top: 20px;
	color: #ac8949;
	font-weight: bold;
}

.content button:hover{
	color: #fff;
	background: #ac8949;
}

.delivery{
	padding-top: 60px;
}

.title{
	font-size: 3.5em;
	text-align: center;
	color: #35363A;
	font-family: Arial, sans-serif;
}

.title:after{
	content: "";
	width: 50px;
	height: 3px;
	background: #35363A;
	display: block;
	margin: 5px auto;
}

label{
	color: #35363A;
}

.formulario{
	width: 290px;
	border: 2px #35363A solid;
	text-align: center;
	margin: 40px auto;
	padding-top: 20px;
}

input{
	border: 2px #35363A solid;
	background: transparent;
}

.submit{
	font-size: 1em;
	font-family: arial;
	cursor: pointer;
	border: 2px solid #ac8949;
	background: transparent;
	padding: 5px 25px;
	margin-top: 20px;
	color: #ac8949;
	font-weight: bold;
	margin-bottom: 20px;
}

.submit:hover{
	background: #ac8949;
	color: #fff;
}

.opcoes{
	width: 178px;
	background: transparent;
	border: 2px solid #35363A;
	margin-top: 15px;
}

.footer-bg{
	background: #ac8949;
	padding: 50px;
	margin-top: 60px;
}

.footer-info{
	text-align: center;
}